# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# White-label generated assets (selected per-build)
assets/images/current/
assets/images/button-bg/current/

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# generated native folders
/ios
/android

/.idea/
/.vscode/
/cms/_static/
/cms/.next/
/manasik-by-halijah-*.json
/cms/.env*
/assets/audio/original/after_stoning.mp3
/assets/audio/original/al_fatehah_loop.mp3
/assets/audio/original/al_ikhlas_loop.mp3
/assets/audio/original/alqalam.mp3
/assets/audio/original/attaubah.mp3
/assets/audio/original/baqiyatussolihat.mp3
/assets/audio/original/basmalah.mp3
/assets/audio/original/basmalah_n_selawat.mp3
/assets/audio/original/calling_upon_allah.mp3
/assets/audio/original/closing_selawat.mp3
/assets/audio/original/closing_selawat_14.mp3
/assets/audio/original/doa_antara_tiang_hijau.mp3
/assets/audio/original/doa_at_historic_mosque_in_madinah.mp3
/assets/audio/original/doa_dalam_perjalanan.mp3
/assets/audio/original/doa_dari_rukun_yamani_hingga_hajar_aswad.mp3
/assets/audio/original/doa_iktikaf.mp3
/assets/audio/original/doa_ketika_bercukur.mp3
/assets/audio/original/doa_ketika_masuk_negeri_baru.mp3
/assets/audio/original/doa_ketika_melihat_kaabah.mp3
/assets/audio/original/doa_ketika_melihat_kota_madinah.mp3
/assets/audio/original/doa_ketika_minum_air_zamzam.mp3
/assets/audio/original/doa_ketika_nampak_kota_makkah.mp3
/assets/audio/original/doa_masuk_mina.mp3
/assets/audio/original/doa_memasuki_masjidil_haram.mp3
/assets/audio/original/doa_memulakan_sai.mp3
/assets/audio/original/doa_naik_bukit_safa_marwah.mp3
/assets/audio/original/doa_naik_kenderaan.mp3
/assets/audio/original/doa_prophets_tomb.mp3
/assets/audio/original/doa_sai_kedua.mp3
/assets/audio/original/doa_sai_keempat.mp3
/assets/audio/original/doa_sai_keenam.mp3
/assets/audio/original/doa_sai_kelima.mp3
/assets/audio/original/doa_sai_ketiga.mp3
/assets/audio/original/doa_sai_ketujuh.mp3
/assets/audio/original/doa_sai_pertama.mp3
/assets/audio/original/doa_sebelum_memulakan_tawaf.mp3
/assets/audio/original/doa_selepas_selesai_tawaf_wadak.mp3
/assets/audio/original/doa_selesai_sai.mp3
/assets/audio/original/doa_setelah_bercukur.mp3
/assets/audio/original/doa_setelah_melepasi_tiang_hijau_3.mp3
/assets/audio/original/doa_setelah_melepasi_tiang_hijau_5.mp3
/assets/audio/original/doa_setelah_melepasi_tiang_hijau_7.mp3
/assets/audio/original/doa_setelah_melintas_tiang_hijau.mp3
/assets/audio/original/doa_setelah_solat_sunat_tawaf.mp3
/assets/audio/original/doa_tawaf_pusingan_kedua.mp3
/assets/audio/original/doa_tawaf_pusingan_keempat.mp3
/assets/audio/original/doa_tawaf_pusingan_keenam.mp3
/assets/audio/original/doa_tawaf_pusingan_kelima.mp3
/assets/audio/original/doa_tawaf_pusingan_ketiga.mp3
/assets/audio/original/doa_tawaf_pusingan_ketujuh.mp3
/assets/audio/original/doa_tawaf_pusingan_pertama.mp3
/assets/audio/original/doa_tawaf_wadak.mp3
/assets/audio/original/dzikr_talbiyah.mp3
/assets/audio/original/entering_muzdalifah.mp3
/assets/audio/original/entering_nabawi_mosque.mp3
/assets/audio/original/farewell_ziarah.mp3
/assets/audio/original/hasbunallah.mp3
/assets/audio/original/hauqalah.mp3
/assets/audio/original/hauqalah_loop.mp3
/assets/audio/original/istighfar.mp3
/assets/audio/original/istighfar_1.mp3
/assets/audio/original/istighfar_2.mp3
/assets/audio/original/istighfar_3.mp3
/assets/audio/original/istighfar_4.mp3
/assets/audio/original/istighfar_5.mp3
/assets/audio/original/istighfar_6.mp3
/assets/audio/original/istighfar_7.mp3
/assets/audio/original/istighfar_8.mp3
/assets/audio/original/istighfar_9.mp3
/assets/audio/original/istighfar_10.mp3
/assets/audio/original/istighfar_11.mp3
/assets/audio/original/istighfar_12.mp3
/assets/audio/original/istighfar_13.mp3
/assets/audio/original/istighfar_14.mp3
/assets/audio/original/istighfar_15.mp3
/assets/audio/original/istighfar_16.mp3
/assets/audio/original/istighfar_17.mp3
/assets/audio/original/istighfar_loop.mp3
/assets/audio/original/masuk_tanah_haram.mp3
/assets/audio/original/membawa_salam_kpd_rasul.mp3
/assets/audio/original/niat_haji_badal.mp3
/assets/audio/original/niat_haji_bersyarat.mp3
/assets/audio/original/niat_ihram_haji.mp3
/assets/audio/original/niat_ihram_umrah.mp3
/assets/audio/original/niat_sai_haji.mp3
/assets/audio/original/niat_sai_umrah.mp3
/assets/audio/original/niat_solat_sunat_ihram.mp3
/assets/audio/original/niat_solat_sunnat_tawaf.mp3
/assets/audio/original/niat_tawaf_haji.mp3
/assets/audio/original/niat_tawaf_qudum.mp3
/assets/audio/original/niat_tawaf_sunnah.mp3
/assets/audio/original/niat_tawaf_umrah.mp3
/assets/audio/original/niat_tawaf_wada.mp3
/assets/audio/original/niat_umrah_badal.mp3
/assets/audio/original/niat_umrah_bersyarat.mp3
/assets/audio/original/raudhah.mp3
/assets/audio/original/salam_at_baqi.mp3
/assets/audio/original/salam_to_abu_bakr.mp3
/assets/audio/original/salam_to_rasul.mp3
/assets/audio/original/salam_to_umar.mp3
/assets/audio/original/selawat.mp3
/assets/audio/original/selawat_1.mp3
/assets/audio/original/selawat_2.mp3
/assets/audio/original/selawat_loop.mp3
/assets/audio/original/supplication_1.mp3
/assets/audio/original/supplication_2.mp3
/assets/audio/original/supplication_3.mp3
/assets/audio/original/supplication_4.mp3
/assets/audio/original/supplication_5.mp3
/assets/audio/original/supplication_6.mp3
/assets/audio/original/supplication_7.mp3
/assets/audio/original/supplication_8.mp3
/assets/audio/original/supplication_9.mp3
/assets/audio/original/supplication_10.mp3
/assets/audio/original/supplication_11.mp3
/assets/audio/original/supplication_12.mp3
/assets/audio/original/supplication_13.mp3
/assets/audio/original/supplication_14.mp3
/assets/audio/original/supplication_15.mp3
/assets/audio/original/supplication_16.mp3
/assets/audio/original/supplication_17.mp3
/assets/audio/original/supplication_18.mp3
/assets/audio/original/supplication_19.mp3
/assets/audio/original/supplication_20.mp3
/assets/audio/original/supplication_21.mp3
/assets/audio/original/supplication_22.mp3
/assets/audio/original/supplication_23.mp3
/assets/audio/original/supplication_24.mp3
/assets/audio/original/supplication_25.mp3
/assets/audio/original/supplication_26.mp3
/assets/audio/original/supplication_27.mp3
/assets/audio/original/supplication_for_goodness.mp3
/assets/audio/original/surah_al_ikhlas.mp3
/assets/audio/original/syahadah_n_selawat.mp3
/assets/audio/original/taawwudh_loop.mp3
/assets/audio/original/tahlil.mp3
/assets/audio/original/tahlil_loop.mp3
/assets/audio/original/tahmid.mp3
/assets/audio/original/takbir_loop.mp3
/assets/audio/original/talbiyah.mp3
/assets/audio/original/tasbih.mp3
/assets/audio/original/tasbih_n_istighfar.mp3
/assets/audio/original/visting_uhud.mp3
